<h1>List of StarWars Movies</h1>
<div class="lds-loading" *ngIf="isLoading; else dataFilms"><div></div><div></div><div></div></div>
<ng-template #dataFilms>
    <div class="row">
        <div class="column" *ngFor="let film of films">
            <div class="card">
                <div class="container">
                    <h4><strong>{{film.title}}</strong></h4>
                    <p>Episode Number: <strong>{{film.episode_id}}</strong></p>
                    <p>Director: <strong>{{film.director}}</strong></p>
                    <button [routerLink]="['/characters/list', film]">View characters</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


