* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0808;
  }

  h1, label, a {
    color: white;
  }

  h1, h3, h4 {
    text-align: center;
  }
  
  .container-form{
    display: inline-block;
    width: 33%;
    padding: 5px;
  }
    
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .container-form{
      display: block;
      width: 100%;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  button {
      background-color: #FF5733;
      color: white;
      border-radius: 5px;
      height: 50px;
  }

  button:hover {
      background-color: #b12708;
      color: white;
      border-radius: 5px;
      height: 50px;
  }

  input {
    border-radius: 5px;
    width: 100%;
    height: 50px;
  }
  /* spinner style */
  .lds-loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-loading div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #FF5733;
    animation: lds-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-loading div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-loading div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-loading div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-loading {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #FF5733 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #FF5733 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }

  .ngx-pagination li, a {
    color: white !important;
  }

  .ngx-pagination li:hover, a:hover{
    background: #FF5733 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }